a:link{
    text-decoration: none;
    text-decoration-color: rgb(245, 242, 242);
 }
 
 a:visited{
    color: rgb(247, 244, 244);
 }
 
 a:active{
    color: rgb(248, 241, 241);
 }
 
 a:hover{
    text-decoration: underline;
    text-decoration-color: rgb(20, 230, 156);
 }
 
 .btn {
    display:inline-block;
    padding: 15px 32px;
    color:rgb(15, 15, 15);
    border: 3px solid rgb(94, 197, 163);
    text-decoration: none;
    font-size: 20px;
    background-color: rgba(238, 225, 225, 0);
    border-radius: 400px;
    cursor: pointer;
 }
 
 .btn:hover{
    background-color: rgb(0, 12, 8);
    color: rgb(216, 24, 24);
    text-decoration: none;
 }